.new-emp{
    padding: 1rem;
    margin:1rem auto;
    background-color: #a892ee;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.new-emp button{
    font:inherit;
    cursor: pointer;
    padding:1rem 2rem;
    margin:1rem auto;
    border-radius: 12px;
    color:white;
    background-color:purple;
    margin-right:1rem;
    border:1px solid purple;

}
.new-emp button:hover,
.new-emp button:active{
    background-color:aqua;
    border-color: pink;

}
.new-emp button.alternative{
    color:aquamarine;
    background-color:transparent;
    border-color:transparent;

}
.new-emp button.alternative:hover,
.new-emp button.alternative:active{
    background-color: #a892ee;
}